@page "/phrase"
@inject IPhrasesRepository _phrasesRepository
@inject IJSRuntime _jsRuntime

<_DeleteConfirmation IsParentComponentProcessing="IsLoading" ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="phrase/create" class="btn btn-primary form-control"><i class="bi bi-plus-lg"></i> Add New Phrase </a>
    </div>
    
<div class="col-12 p-3">
    @if (Phrases.Any())
    {
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Phrase</th>
                <th>Culture</th>
                <th>Element</th>
                <th>Knappar</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var objp in Phrases)
            {
                <tr>
                    <td>
                        @objp.Phrase
                    </td> 
                    <td>
                        @objp.Culture
                    </td> 
                    <td>
                        @objp.Element
                    </td> 
                    <td>
                        @*<NavLink href="" class="btn-primary btn">Edit</NavLink*@
                                <NavLink href="@($"phrase/edit/{objp.PhraseID}")" class="btn-primary btn"><i class="bi bi-pencil"></i> Edit</NavLink>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(objp.PhraseID)"><i class="bi bi-trash"></i> Delete</button>
                            </td>
                </tr>
            }
            </tbody>
        </table>
    }
    
    else
    {
        if (IsLoading)
        {
            //loading gif
            <div class="text-center">
                <img src="/images/loading.gif">
            </div>
        }
        else
        {
            //no records
            <p>No recrods found.</p>
        }
    }

</div>
</div>

@code {
    private IEnumerable<PhrasesDTO> Phrases { get; set; } = new List<PhrasesDTO>();

    //protected override void OnInitialized()
    //{
    //    Phrases = _phrasesRepository.GetAll();
    //}
    public bool IsLoading { get; set; }
    private int DeletePhId { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadPh();
        }
    }
    private async Task LoadPh()
    {
        IsLoading=true;
        StateHasChanged();
        Phrases = await _phrasesRepository.GetAll();
        IsLoading=false;
        StateHasChanged();
    }

    private void HandleDelete(int id)
    {
        DeletePhId=id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading=true;
        if (isConfirmed && DeletePhId!=0)
        {
            await Task.Delay(300);
    //delete
            await _phrasesRepository.Delete(DeletePhId);
            await LoadPh();
            await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsLoading=false;
    }
}