@page "/phrase"


<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="phrase/create" class="btn btn-primary form-control">Add New Phrase </a>
    </div>
</div>

@code {

}