<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/pngegg(1).png" alt="Frasse width="40px" height="40px">
        </a>
        
        
@*        <a class="navbar-brand" href="">kkkkkkkkkkkkkkkkkkk</a>*@
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>*@
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>*@
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>*@
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phrase">
                <span class="oi oi-share" aria-hidden="true"></span> Phrase
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="application">
                <span class="oi oi-hard-drive" aria-hidden="true"></span> Application
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cultures">
                <span class="oi oi-globe" aria-hidden="true"></span> Culture
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pages">
                <span class="oi oi-image" aria-hidden="true"></span> Pages
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
