<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            @*<img src="/images/pngegg(1).png" alt="Frasse width="40px" height="40px">*@
            <span class="goldText">PHRASES</span>
        </a>
        
        
@*        <a class="navbar-brand" href="">kkkkkkkkkkkkkkkkkkk</a>*@
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>*@
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>*@
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>*@
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phrase">
                <span class="oi oi-share" style="color:#E62310" aria-hidden="true"></span> <span class="goldTextP">Phrase</span>
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="application">
                <span class="oi oi-hard-drive" style="color:#44AF35" aria-hidden="true"></span> <span class="goldTextAP">Application</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cultures">
                <span class="oi oi-globe" style="color:#FCCF00" aria-hidden="true"></span> <span class="goldTextC">Culture</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pages">
                <span class="oi oi-image " style="color:#009BD9" aria-hidden="true"></span><span class="goldTextP">Pages</span>
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
